apiVersion: operator.victoriametrics.com/v1beta1
kind: VMServiceScrape
metadata:
  name: immich-server
  namespace: immich
spec:
  selector:
    matchLabels:
      app: immich-server
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMServiceScrape
metadata:
  name: immich-machine-learning
  namespace: immich
spec:
  selector:
    matchLabels:
      app: immich-machine-learning
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
