apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
  - httproute.yaml
  - secrets.yaml

patches:
  - target:
      kind: ConfigMap
      name: argocd-cmd-params-cm
    path: patch-argocd-cmd-params-cm.yaml
  - target:
      kind: ConfigMap
      name: argocd-cm
    path: patch-argocd-cm.yaml
