apiVersion: operator.victoriametrics.com/v1beta1
kind: VMServiceScrape
metadata:
  name: postgresql
  namespace: postgresql
spec:
  selector:
    matchLabels:
      app: postgresql
  endpoints:
    - port: metrics
      path: /metrics
      interval: 30s
