apiVersion: operator.victoriametrics.com/v1beta1
kind: VMRule
metadata:
  name: general-rules
spec:
  groups:
    - name: general.rules
      rules:
        - alert: TargetDown
          expr: up == 0
          for: 1m
          labels:
            severity: critical
          annotations:
            summary: "Target {{ $labels.instance }} is down"
            description: "{{ $labels.instance }} of job {{ $labels.job }} has been down for more than 1 minute."

        - alert: InstanceHighCpu
          expr: 100 - (avg by (instance) (rate(node_cpu_seconds_total{mode="idle"}[5m])) * 100) > 90
          for: 5m
          labels:
            severity: warning
          annotations:
            summary: "High CPU usage on {{ $labels.instance }}"
            description: "CPU usage is above 90% for 5 minutes."

        - alert: InstanceLowMemory
          expr: node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes * 100 < 10
          for: 5m
          labels:
            severity: warning
          annotations:
            summary: "Low memory on {{ $labels.instance }}"
            description: "Memory available is less than 10%."
