apiVersion: operator.victoriametrics.com/v1beta1
kind: VMServiceScrape
metadata:
  name: cert-manager
  namespace: cert-manager
spec:
  selector:
    matchLabels:
      app: cert-manager
      app.kubernetes.io/component: "controller"
  endpoints:
    - port: tcp-prometheus-servicemonitor
      interval: 60s
    - port: http-metrics # Newer versions might use this
      interval: 60s
