# run `op inject -i terraform.tfvars.tmpl -o terraform.tfvars` to generate the proper tfvars file.
virtual_environment_endpoint = "op://network/tnyuufxc75mep7hfhymhqrv6c4/url"
virtual_environment_password = "op://network/tnyuufxc75mep7hfhymhqrv6c4/password"
virtual_environment_username = "op://network/tnyuufxc75mep7hfhymhqrv6c4/username@pam"


