apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: system
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  description: Cluster system services
  sourceRepos:
    - git@github.com:jackweinbender/infrastructure.git
  destinations:
    - namespace: "*"
      server: https://kubernetes.default.svc
