apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: envoy-gateway-pool
  namespace: metallb-system
spec:
  addresses:
    - 192.168.155.0-192.168.155.255
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: vlan-www-pool
  namespace: metallb-system
spec:
  addresses:
    # The final /24 of the 192.168.16.1/20 www network VLAN
    # DHCP is disabled on these addresses on the router
    - 192.168.31.0-192.168.31.254
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: metallb
  namespace: metallb-system
