apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: cluster-gateway
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt"
spec:
  gatewayClassName: envoy-gateway-class
  addresses:
    - value: 192.168.15.5
      type: IPAddress
  listeners:
    - name: http
      protocol: HTTP
      port: 80
    - name: https
      protocol: HTTPS
      hostname: "*.k8s.weinbender.io"
      port: 443
      allowedRoutes:
        namespaces:
          from: All
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: gateway-wildcard-tls
            group: ""
