apiVersion: operator.victoriametrics.com/v1beta1
kind: VMPodScrape
metadata:
  name: metallb-pods
  namespace: metallb-system
spec:
  selector:
    matchLabels:
      app: metallb
  podMetricsEndpoints:
    - port: metrics
      scheme: http
      interval: 30s
