apiVersion: operator.victoriametrics.com/v1beta1
kind: VMServiceScrape
metadata:
  name: homeassistant
  namespace: homeassistant
spec:
  selector:
    matchLabels:
      app: homeassistant
  endpoints:
    - port: http
      path: /api/prometheus # Standard path for HA Prometheus integration
      interval: 60s # HA metrics don't change that fast
      bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token # You typically need a Long Lived Access Token for HA, but if you don't use the dedicated auth, you might need to configure basicAuth or bearerToken here manually.
      # For now, we assume the user might use the "prometheus" integration in HA whch allows unauthenticated access if configured with specific allowed_ips.
