apiVersion: monitoring.coreos.com/v1alpha1
kind: PrometheusAgent
metadata:
  name: prometheus-agent
spec:
  serviceAccountName: prometheus
  serviceMonitorSelector: {}
  serviceMonitorNamespaceSelector: {}
  podMonitorSelector: {}
  podMonitorNamespaceSelector: {}
  probeSelector: {}
  probeNamespaceSelector: {}
  scrapeConfigSelector: {}
  scrapeConfigNamespaceSelector: {}
  remoteWrite:
    - url: "https://prometheus-prod-13-prod-us-east-0.grafana.net/api/prom/push"
      remoteTimeout: 30s
      basicAuth:
        username:
          name: prometheus-grafana-credentials
          key: username
        password:
          name: prometheus-grafana-credentials
          key: token
