apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://raw.githubusercontent.com/tailscale/tailscale/refs/tags/v1.92.4/cmd/k8s-operator/deploy/manifests/operator.yaml
  - secrets.yaml

patches:
  - path: patch-deployment.yaml
    target:
      kind: Deployment
      name: operator
