apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://github.com/envoyproxy/gateway/releases/download/v1.6.0/install.yaml
  - gateway-class.yaml
  - gateway.yaml
  # - gateway-httproute-default.yaml

patches:
  - path: gateway-service-patch.yaml
  - path: envoygateway-config.yaml
    target:
      kind: ConfigMap
      name: envoy-gateway-config
      namespace: envoy-gateway-system
