name: "Plan & Apply Terraform (one)"

on:
  workflow_dispatch:
    inputs:
      component:
        description: "Component to run Terraform against"
        type: choice
        options:
          - "mgmt"
          - "aws"
          - "gcp-remind-me"
        default: "aws"
      apply:
        description: "Apply Terraform"
        type: boolean
        default: false

permissions:
  id-token: write
  contents: read

jobs:
  terraform-apply-one:
    if: github.ref == 'refs/heads/main'
    name: "Terraform Plan & Apply"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Auth with AWS
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::325498355308:role/GithubActionsRole
          aws-region: "us-east-1"
          role-session-name: GithubActionsRole
      - name: Auth with Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ vars.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ vars.GCP_SERVICE_ACCOUNT }}
      - name: Run Terraform Action on ${{ github.event.inputs.component }}
        uses: "./.github/actions/tf-plan-apply"
        with:
          op_token: ${{ secrets.ONE_PASSWORD_SA_TOKEN }}
          component: ${{ github.event.inputs.component }}
          apply: ${{ github.event.inputs.apply }}
