name: "TF Plan"

on:
  pull_request:
    paths:
      - "terraform/**"

permissions:
  id-token: write
  contents: read

jobs:
  terraform-plan-all:
    name: "PR Plan"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        component: [mgmt, aws, gcp-remind-me]
    steps:
      - uses: actions/checkout@v3
      - name: Auth with AWS
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: "us-east-1"
          role-to-assume: arn:aws:iam::325498355308:role/GithubActionsRole
          role-session-name: GithubActionsRole
      - name: Auth with Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ vars.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ vars.GCP_SERVICE_ACCOUNT }}
      - uses: hashicorp/setup-terraform@v2
        name: Plan on ${{ matrix.component }}
      # We always run init.
      - name: Terraform init
        id: init
        shell: bash
        run: terraform -chdir=terraform/${{ matrix.component }} init

      - name: Terraform validate
        id: validate
        shell: bash
        run: terraform -chdir=terraform/${{ matrix.component }} validate

      - name: Terraform plan
        id: plan
        shell: bash
        run: terraform -chdir=terraform/${{ matrix.component }} plan -no-color
